---
import AboutHeroImage from '../assets/my_hero_img.png';
import Layout from '../layouts/BlogPost.astro';
import GitHubActivityCalendar from '~/components/GitHubActivityCalendar.astro'
import {USER_NAME} from "~/consts";
---

<Layout
        title="About Me"
        description="Lorem ipsum dolor sit amet"
        pubDate={new Date()}
        heroImage={AboutHeroImage}
>
    <h3>Overflow Stack Developer.</h3>

    贴瓷砖ing...

    <br />
    <br />

    <GitHubActivityCalendar username={USER_NAME}></GitHubActivityCalendar>

    <br/>

    {Array.from({length: Math.random() * 100}).map((_, index) => (
            <span>Me </span>
    ))}
    <span>My </span>
    {Array.from({length: Math.random() * 100}).map((_, index) => (
            <span>Me </span>
    ))}
</Layout>
