---
import AboutHeroImage from '../assets/my_hero_img.png';
import Layout from '../layouts/BlogPost.astro';
import GitHubActivityCalendar from '~/components/GitHubActivityCalendar.astro'
import {USER_NAME} from "~/consts";
---

<Layout
        title="俺。"
        description="Lorem ipsum dolor sit amet"
        pubDate={new Date()}
        heroImage={AboutHeroImage}
>
    <h3>Overflow Stack Developer.</h3>

    贴瓷砖嘞...

    <br />
    <br />

    <GitHubActivityCalendar username={USER_NAME}></GitHubActivityCalendar>

    <br/>

    <p>从俺里边儿，找着恁搁哪儿嘞？</p>
    
    {Array.from({length: Math.random() * 100}).map((_, index) => (
            <span>俺 </span>
    ))}
    <span>恁 </span>
    {Array.from({length: Math.random() * 100}).map((_, index) => (
            <span>俺 </span>
    ))}
</Layout>
