---
import {Tabs, TabItem} from '@astrojs/starlight/components';

const slots = Astro.slots;
const labels = Astro.props.labels;
const syncKey = Astro.props.syncKey;
---

<figure>
    {
        slots.has("tab0") || slots.has("tab1") || slots.has("tab2") || slots.has("tab3") || slots.has("tab4") || slots.has("tab5") || slots.has("tab6") || slots.has("tab7") || slots.has("tab8") || slots.has("tab9") || slots.has("tab10") ?
                <Tabs syncKey={syncKey}>
                    {slots.has("tab0") &&
                            <TabItem label={labels["tab0"]}>
                                <slot name="tab0"/>
                            </TabItem>}
                    {slots.has("tab1") &&
                            <TabItem label={labels["tab1"]}>
                                <slot name="tab1"/>
                            </TabItem>
                    }
                    {slots.has("tab2") &&
                            <TabItem label={labels["tab2"]}>
                                <slot name="tab2"/>
                            </TabItem>
                    }
                    {slots.has("tab3") &&
                            <TabItem label={labels["tab3"]}>
                                <slot name="tab3"/>
                            </TabItem>
                    }
                    {slots.has("tab4") &&
                            <TabItem label={labels["tab4"]}>
                                <slot name="tab4"/>
                            </TabItem>
                    }
                    {slots.has("tab5") &&
                            <TabItem label={labels["tab5"]}>
                                <slot name="tab5"/>
                            </TabItem>
                    }
                    {slots.has("tab6") &&
                            <TabItem label={labels["tab6"]}>
                                <slot name="tab6"/>
                            </TabItem>
                    }
                    {slots.has("tab7") &&
                            <TabItem label={labels["tab7"]}>
                                <slot name="tab7"/>
                            </TabItem>
                    }
                    {slots.has("tab8") &&
                            <TabItem label={labels["tab8"]}>
                                <slot name="tab8"/>
                            </TabItem>
                    }
                    {slots.has("tab9") &&
                            <TabItem label={labels["tab9"]}>
                                <slot name="tab9"/>
                            </TabItem>
                    }
                    {slots.has("tab10") &&
                            <TabItem label={labels["tab10"]}>
                                <slot name="tab10"/>
                            </TabItem>
                    }
                </Tabs> :
                <slot/>
    }

    {
        slots.has("preview") &&
            <div class="preview">
                <div class="preview-content">
                    <slot name="preview"/>
                </div>
            </div>
    }
</figure>

<style>
    .preview {
        border: 1px solid var(--sl-color-gray-5);
        border-top: none;
        margin-top: 0;
    }

    .preview:only-child {
        border-top: 1px solid var(--sl-color-gray-5);
    }

    figcaption {
        font-size: var(--sl-text-sm);
        font-weight: 600;
        padding: 0.5rem 1rem 0;
    }

    .preview-content {
        margin-top: 0;
        padding: 1rem;
    }
</style>
